* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.language {
  margin-right: 156px;
  margin-top: 28px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: right;
  color: #4b4b4b;
}
.title {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 3px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 35px;
}
.block-select {
  margin-left: 156px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #212121;
  .title-select {
    margin-right: 18px;
  }
  .select {
    height: 20px;
    min-width: 100px;
    text-align: center;
    border: none;
    border-radius: 4px;
    outline: none;
    background: #f0f0f0;
  }
}

.language-Button {
  cursor: pointer;
  height: 75px;
  width: 75px;
  position: fixed;
  bottom: 30px;
  right: 100px;
}
@media (max-width: 930px) {
  .language-Button {
    cursor: pointer;
    height: 55px;
    width: 55px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}
