.container-404 {
  padding-top: 50px;
  height: 1024px;
  min-width: 1440px;
  background: #17002f;
  z-index: 1;
}
.img-404 {
  height: 50%;
  width: 60%;
  margin-bottom: 50px;
}
.button-404 {
  height: 66px;
  width: 231px;
  background: #73d677;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  color: #212121;
  cursor: pointer;
}
