* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.pModal {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #4b4b4b;
  line-height: 10px;
}
.circleModal {
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 3px;
}
.icon {
  height: 220px;
}

.wrapperModal {
  display: flex;
}
.wrapperModalGender {
  display: flex;
  padding-bottom: 15px;
  align-self: flex-end;
  gap: 14px;
  flex-wrap: wrap;
  line-height: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #212121;
  .birth-yearModal {
    z-index: 3;
    height: 16px;
    min-width: 60px;
    background: #07d6f2;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
  }
  .maleModal {
    z-index: 4;
    height: 16px;
    min-width: 60px;
    padding: 0 5px;
    background: #73d677;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
  }
  .hermaphroditeModal {
    height: 16px;
    min-width: 80px;
    padding: 0 5px;
    background: #f5db13;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
  }
  .femaleModal {
    height: 16px;
    min-width: 60px;
    padding: 0 5px;
    background: #c956ff;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
  }
}
.nameModal {
  margin-left: 10px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: left;
  color: #fdfdfd;
  text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
}

.colorsModal {
  margin-top: 27px;
  margin-left: 10px;
  padding: 18px 23px;
  height: 104px;
  width: 264px;
  box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
  border-radius: 8px;
  background: #fdfdfd;
  text-align: left;
}
.heightMassCharacter-modal {
  margin: 77px 12px 2px 10px;
  height: 69px;
  width: 82px;
  background: #fdfdfd;
  box-shadow: 4px 4px 24px rgba(1, 17, 38, 0.2);
  border-radius: 8px;
}

.blur {
  position: fixed;
  z-index: 10;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
}
.popup {
  background: linear-gradient(180deg, #17002f 42.19%, #1f2a63 100%);
  border-radius: 16px;
  position: fixed;

  top: 50%;
  left: 50%;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: scale(0) translate(-50%, -50%);
}
.active {
  transform: scale(1) translate(-50%, -50%);
}
.closeIcon {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  top: 0;
  right: 0;
  transform: translateY(-150%);
}
.infoBlock {
  min-height: 371px;
  min-width: 735px;
  padding: 30px 10px 10px 285px;
}
.iconBlock {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  width: 285px;
  padding: 30px 10px 5px 10px;
  background: #1f2a63;
  box-shadow: 4px 4px 8px rgba(1, 28, 64, 0.2);
  border-radius: 8px 0px 0px 8px;
}
